<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

	<servlet>
		<servlet-name>BlogCore</servlet-name>
		<servlet-class>name.heroin.community.BlogCoreServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BlogCore</servlet-name>
		<url-pattern>/blog_core</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AdminServlet</servlet-name>
		<servlet-class>name.heroin.community.AdminServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminServlet</servlet-name>
		<url-pattern>/admin</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>PermissionsServlet</servlet-name>
		<servlet-class>name.heroin.community.PermissionsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PermissionsServlet</servlet-name>
		<url-pattern>/admin/permissions</url-pattern>
		<url-pattern>/admin/all_permissions</url-pattern>
		<url-pattern>/admin/add_permission</url-pattern>
		<url-pattern>/admin/edit_permission</url-pattern>
	</servlet-mapping>
	
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
</web-app>
