<?xml version="1.0" encoding="utf-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns="http://java.sun.com/xml/ns/javaee"
xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">

	<servlet>
		<servlet-name>Login</servlet-name>
		<servlet-class>name.heroin.community.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/login</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>MainFrontend</servlet-name>
		<servlet-class>name.heroin.community.MainFrontendServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>MainFrontend</servlet-name>
		<url-pattern>/main</url-pattern>
		<url-pattern>/</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>AboutFrontend</servlet-name>
		<servlet-class>name.heroin.community.AboutFrontendServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AboutFrontend</servlet-name>
		<url-pattern>/about</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>ProjectsFrontend</servlet-name>
		<servlet-class>name.heroin.community.ProjectsFrontendServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ProjectsFrontend</servlet-name>
		<url-pattern>/projects</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>AdminServlet</servlet-name>
		<servlet-class>name.heroin.community.AdminServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminServlet</servlet-name>
		<url-pattern>/admin/index</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>PermissionsServlet</servlet-name>
		<servlet-class>name.heroin.community.PermissionsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PermissionsServlet</servlet-name>
		<url-pattern>/admin/permissions</url-pattern>
		<url-pattern>/admin/all_permissions</url-pattern>
		<url-pattern>/admin/add_permission</url-pattern>
		<url-pattern>/admin/edit_permission</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>RolesServlet</servlet-name>
		<servlet-class>name.heroin.community.RolesServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>RolesServlet</servlet-name>
		<url-pattern>/admin/roles</url-pattern>
		<url-pattern>/admin/all_roles</url-pattern>
		<url-pattern>/admin/add_role</url-pattern>
		<url-pattern>/admin/edit_role</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>TagsServlet</servlet-name>
		<servlet-class>name.heroin.community.TagsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TagsServlet</servlet-name>
		<url-pattern>/admin/tags</url-pattern>
		<url-pattern>/admin/all_tags</url-pattern>
		<url-pattern>/admin/add_tag</url-pattern>
		<url-pattern>/admin/edit_tag</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>UsersServlet</servlet-name>
		<servlet-class>name.heroin.community.UsersServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>UsersServlet</servlet-name>
		<url-pattern>/admin/users</url-pattern>
		<url-pattern>/admin/all_users</url-pattern>
		<url-pattern>/admin/add_user</url-pattern>
		<url-pattern>/admin/edit_user</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CommentsServlet</servlet-name>
		<servlet-class>name.heroin.community.CommentsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CommentsServlet</servlet-name>
		<url-pattern>/admin/comments</url-pattern>
		<url-pattern>/admin/all_comments</url-pattern>
		<url-pattern>/admin/add_comment</url-pattern>
		<url-pattern>/admin/edit_comment</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>PostsServlet</servlet-name>
		<servlet-class>name.heroin.community.PostsServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>PostsServlet</servlet-name>
		<url-pattern>/admin/posts</url-pattern>
		<url-pattern>/admin/all_posts</url-pattern>
		<url-pattern>/admin/add_post</url-pattern>
		<url-pattern>/admin/edit_post</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Api</servlet-name>
		<servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>
		<init-param>
			<param-name>com.sun.jersey.config.property.packages</param-name>
			<param-value>name.heroin.community.module</param-value>
		</init-param>
		 <init-param>
			<param-name>com.sun.jersey.api.json.POJOMappingFeature</param-name>
			<param-value>true</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
		<servlet-name>Api</servlet-name>
		<url-pattern>/api/*</url-pattern>
	</servlet-mapping>
	
	<listener>
		<listener-class>name.heroin.community.listeners.MainControllerRequestListener</listener-class>
	</listener>
	
	<filter> 
    	<filter-name>AdminFilter</filter-name>
    	<filter-class>name.heroin.community.filters.AdminFilter</filter-class> 
  	</filter> 
  	<filter-mapping> 
    	<filter-name>AdminFilter</filter-name>
    	<url-pattern>/admin/*</url-pattern> 
  	</filter-mapping> 
	
	
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
	</welcome-file-list>
	
</web-app>
